@import '../variables';
.product_card{
    width:100%;
    margin:10px 0px;
}
.product_form--image{
    width:100px;
    height:100px;
    margin-right:4x;
};
.product_card--img{
    width:100%;
    height:170px;
};
.product_card--link{
    color:#000;
    font-size:17px;
    font-family: $font-1;
    font-weight: lighter;
    margin:5px 0px;
};
.product_card--price{
    color:gray;
    font-family: $font-1;
    font-size:13px;
};
.product_card--seller{
    color:gray;
    font-family: $font-1;
    font-size:13px;
};

//shall also add for product  page
.tabs_seller_img{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin:10px 0px;
};
.tabs_seller_info{
    margin-top:10px;
};
.media-heading{
    font-size:19px;
    font-family:$font-1;
    font-weight:lighter;
};
.media-text{
    font-size:14px;
    font-family: $font-1;
};
.tab_title{
    font-weight:bold;
    font-size:17px;
    font-family: $font-1;
};
.tab_text{
    font-size:15px;
    font-family: $font-1;
};

//for slideshow
.product_slideshow_container{
    width:100%;
    height:354px;
    position:relative;
    margin:14px 0px;
};
.product_image{
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    position:absolute;
}