/*
// .block-slideshow
*/
@import '../variables';
@import '../functions';
@import '../mixins/buttons';
@import '../mixins/direction';


$font: $font_3;
$subtitle-font:$font_2;

.home{
    width:100%;
    overflow:hidden;
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:0px;
    z-index:1;
};
.home_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background:rgba(0,0,0,.78);
};
.home_content{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    top:40%;
};
.advert_heading{
    font-family:$font;
    color:#fff;
    font-size:26px;
    margin-bottom:20px;
};
.advert_subtitle{
    color:#fff;
    font-size:17px;
    margin-bottom:20px;
    font-family:$subtitle-font;
};
.advert_btn{
    font-family: $subtitle-font;
}